* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'El Messiri', 'Times New Roman', Times, serif;
}

:root {
    --viajes: #17A3B8;
    --gradient: linear-gradient(
        transparent,
        #17A3B8,
        #007989);
    font-size: 22px;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: #fff;
}

.bg-viajes {
    background-color: var(--viajes);
}

hr {
    border: solid .2rem var(--viajes);
    color: var(--viajes);
    width: 95%;
}

.w-90 {
    width: 90%;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    width: fit-content;
    margin: 0 auto;
}

.header {
    position: relative;
}
.navbar {
    z-index: 1;
    transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
}

.navbar-brand {
    font-family: 'Playball', 'Courier New', Courier, monospace;
}

.logo {
    height: 7vh;
    width: min-content;
}

.carousel {
    z-index: 0;
}

.presentacion__carta {
    min-width: 300px;
    width: 27%;
    max-width: 36rem;
}
.presentacion__parrafo {
    width: 99%;
}

.cards {
    width: fit-content;
}

.card {
    min-width: 280px;
    width: 20%;
    max-width: 13rem;

    min-height: 25rem;
}
.card-img-top {
    min-height: 200px;   
    height: 20vh;   
    max-height: 4rem;   
}

.footer__text {
    width: fit-content;
    font-weight: 700;
}
a:hover {
    color: inherit;
}
.footer__icons>i {
    line-height: inherit;
}