* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --viajes: #17A3B8;
    font-size: 22px;
}

body {
    background-color: black;
    color: #fff;
}

.bg-viajes {
    background-color: var(--viajes);
}

.w-90 {
    width: 90%;
}

hr {
    border: solid .2rem var(--viajes);
    color: var(--viajes);
    width: 95%;
}

i {
    width: min-content;
    margin: 0 auto;
}

.header {
    background-image: url();
    position: relative;
}
.navbar {
    top: 0;
    z-index: 1;
}

.logo {
    height: 7vh;
    width: min-content;
}

.carousel {
    z-index: -1;
}

.presentacion__carta {
    min-width: 300px;
    width: 27%;
    max-width: 36rem;
}
.presentacion__parrafo {
    width: 99%;
}

.card {
    min-width: 280px;
    width: 20%;
    max-width: 32rem;

    min-height: 25rem;
}
.card-img-top {
    height: 60%;   
}